@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* 'gray-1': '#111517',
'gray-2': '#202C37',
'gray-3': '#2B3945',
'gray-4': '#858585',
'gray-5': '#FAFAFA',
'brown-1': '#614C3F',
'brown-2': '#e6e2d6',
'brown-3': '#614c3f80',
'green-1': '#5c9f78',
'orange-1': '#fc5d47' */
/* Utiliza la fuente en tu estilo */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e6e2d6;
}

@media (min-width:400px) {
  .two-columns {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.button_nav {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button_nav {
  --border-right: 6px;
  --text-stroke-color: #614c3f80;
  --animation-color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  color:#614c3f80;
  font-weight: 400;
 
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 0.4s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button_nav:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.after\:border-b::after {
  content: var(--tw-content);
  border-color: white;
  border-bottom-width: 1px;
}

.custom-loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, #000000 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #000000 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #000000 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d3 1s infinite linear;
}

.search {
  --input-line: #cccccc;
  --input-text-color: #000000;
  --input-text-hover-color: transparent;
  --input-border-color: #545050;
  --input-border-hover-color: #cec1c1;
  --input-bg-color: transparent;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 2px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  transition: var(--transition-cubic-bezier);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 14px;
  padding-right: 0px;
  color: black;
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

/*Search button*/
.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.btn-icon-content:hover {
  transform: scale(1.2);
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}

@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
